@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Open+Sans&display=swap');

.RadialSelect {
  .radialBtn {
    //color: ;
    font-family: 'Aladin', cursive;
    //font-family: 'Open Sans', sans-serif;
  }

  .logo {
    //position: absolute;
    //width: 95%;
    ////height: 100%;
    //top: 18%;
    //left: 50%;
    //transform: translate(-50%, -50%);
  }

  .items {
    //@include use_hvCenteredAbs();
    width: 100%;
    height: 100%;

  }
}