@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

@keyframes rotation {
  to {
    transform: rotate(360deg) translateX(-50%) translateY(-50%);
  }
}

@keyframes clip {
  0% {
    clip-path: polygon(100% 50%, 84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%);
  }
  50% {
    clip-path: polygon(84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%, 100% 50%);
  }
  100% {
    clip-path: polygon(91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%, 100% 50%, 84.70057014808336% 54.5684167277018%);
  }
}

.SwipeCard {
  backface-visibility: hidden;

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    * {
      backface-visibility: hidden;
    }
    &.noEvent{
      pointer-events: none;
    }
  }

  .likeBtn {
    @include use_hvCenteredContent();
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 120px;
    width: 120px;
    line-height: 10px;
    font-size: 65px;
    background: white;
    border-radius: 150px;
    cursor: pointer;
    transition: all 500ms;

    &:hover {
      background: lightgray;
    }
  }

  .dislikeBtn {
    @include use_hvCenteredContent();
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 120px;
    width: 120px;
    line-height: 10px;
    font-size: 65px;
    background: white;
    border-radius: 150px;
    cursor: pointer;
    transition: all 500ms;

    &:hover {
      background: lightgray;
    }
  }

  .dislikeOverlay {
    //width: 100%;
    //height: 100vh;
    pointer-events: none;
    user-select: none;
    color: hsl(50, 50%, 50%);
    display: flex;
    //overflow: hidden;
    font-family: 'Bangers', cursive;
    align-items: center;
    justify-content: center;
    position: relative;

    &:before {
      overflow: hidden;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: rotate(0) translateX(-50%) translateY(-50%);
      transform-origin: 0 0;
      width: 120%;
      height: 120%;
      background: repeating-conic-gradient(hsl(12, 60%, 43%), hsl(0, 91%, 46%) 1%);
      content: '';
      animation: rotation 20s infinite linear, clip 1s infinite;
      //transition: 0.4s cubic-bezier(1, -1, 0, 2);
      clip-path: polygon(100% 50%, 84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%);
      border-radius: 100%;
      backface-visibility: hidden;
    }


    h1 {
      position: relative;
      z-index: 2;
      font-size: 5em;
      letter-spacing: 15px;
      text-transform: uppercase;
      transform: rotate(-10deg);
      white-space: nowrap;
      text-shadow: 1px 1px hsl(50, 50%, 45%),
      2px 2px hsl(50, 50%, 40%),
      3px 3px hsl(50, 50%, 35%),
      4px 4px hsl(50, 50%, 34%),
      5px 5px hsl(50, 50%, 33%),
      6px 6px hsl(50, 50%, 32%),
      7px 7px hsl(50, 50%, 31%),
      8px 8px hsl(50, 50%, 30%),
      9px 9px hsl(50, 50%, 29%),
      10px 10px hsl(50, 50%, 28%),
      10px 10px 30px rgba(0, 0, 0, .7),
    }
  }

  .likeOverlay {
    //width: 100%;
    //height: 100vh;

    //pointer-events: none;
    user-select: none;
    color: hsl(50, 50%, 50%);
    display: flex;
    //overflow: hidden;
    font-family: 'Bangers', cursive;
    align-items: center;
    justify-content: center;
    position: relative;

    &:before {
      overflow: hidden;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: rotate(0) translateX(-50%) translateY(-50%);
      transform-origin: 0 0;
      width: 120%;
      height: 120%;
      background: repeating-conic-gradient(hsl(99, 50%, 40%), hsl(104, 50%, 50%) 1%);
      content: '';
      animation: rotation 20s infinite linear, clip 1s infinite;
      //transition: 0.4s cubic-bezier(1, -1, 0, 2);
      clip-path: polygon(100% 50%, 84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%);
      border-radius: 100%;
      backface-visibility: hidden;
    }


    h1 {
      position: relative;
      z-index: 2;
      font-size: 5em;
      letter-spacing: 15px;
      text-transform: uppercase;
      transform: rotate(-10deg);
      white-space: nowrap;
      text-shadow: 1px 1px hsl(50, 50%, 45%),
      2px 2px hsl(50, 50%, 40%),
      3px 3px hsl(50, 50%, 35%),
      4px 4px hsl(50, 50%, 34%),
      5px 5px hsl(50, 50%, 33%),
      6px 6px hsl(50, 50%, 32%),
      7px 7px hsl(50, 50%, 31%),
      8px 8px hsl(50, 50%, 30%),
      9px 9px hsl(50, 50%, 29%),
      10px 10px hsl(50, 50%, 28%),
      10px 10px 30px rgba(0, 0, 0, .7),
    }
  }

}